<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTTACT</title>
  </head>
  <body>
    <nav>
      <ul>
           <li><a href="http://localhost:4000">Home</a></li>
        <li><a href="http://localhost:4000/about">About</a></li>
        <li><a href="http://localhost:4000/contact">Contact</a></li>
      </ul>
    </nav>
    <h2>Contact</h2>
    <form>
      <label for="">Your Name</label>
      <input type="text" />

      <label for="">Subject</label>
      <input type="text" />

      <label for=""> <main>Message</main></label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
     <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, officia. Rem quidem quos minima impedit harum voluptatem aut eius cupiditate ad! Quas eos soluta omnis neque assumenda iure officiis culpa.</em>
  </body>
  </body>
</html>
