<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
            <li><a href="http://localhost:4400">Home</a></li>
            <li><a href="http://localhost:4400/about">About</a></li>
            <li><a href="http://localhost:4400/contact">Contact</a></li>
      </ul>
    </nav>
    <h2>HOME</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quam
      ipsum voluptas quaerat reprehenderit. Accusantium doloremque itaque, illum
      quia numquam animi ratione assumenda atque explicabo officia consequuntur?
      Porro, excepturi libero.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi laboriosam
      amet, tempore enim impedit, veniam et eius vitae repellat, quod soluta
      excepturi beatae corrupti molestiae architecto dignissimos corporis
      expedita minima.
    </p>
  </body>
</html>